button.timestamp-control {
  background: none !important;
  border: none !important;
  padding-right: 3px !important;
  padding-left: 0px !important;
  font-size: 12px !important;
  color: #00679A !important;
  box-shadow: none !important;
  cursor: pointer;
}

.rm-video-player__container {
  padding-top: 10px !important;
}

.rm-zoom-item-content .rm-xparser-default-ccc-yt-timestamp {
  display: none;
}

/* .myCommentBtn {
  background-color: red;
  width: 400px;
  height: 400px;
  position: absolute;
  display: none;
  visibility: hidden;
}

.myCommentBtn:hover {
  display: inline-block;
  position: relative;
} */